@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.15rem;
  word-spacing: 0.25rem
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}